html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn-primary-custom {
    background-color: #071952;
    color: white;
    border: none;
    transition: background-color 0.3s ease;
}

    .btn-primary-custom:hover {
        background-color: #088395;
        color: white;
    }

/* Espaço entre botões, se necessário */
.btn + .btn {
    margin-left: 0.25rem;
}
